<!DOCTYPE html>
<html>
    <head>
        <title>{{webName}}</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        </div>
        
        {{!-- <h1>{{title}}</h1> --}}
        {{>footer}}
    </body>
</html>
